.fab-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    > div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 5px;

    button {
        margin-bottom: 17px;
        }
    }
}

.fab-toggler {
    float: right;
    z-index: 100;
}

#fab-dismiss {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.tooltip {
    position: absolute;
    right: 80px;
    margin-top: 15px;
    bottom: auto;
    width: auto;
    background: #333333;
    color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0;
    box-shadow: 5px 5px 3px #888888;
    font-size: 1rem;
    font-weight: normal;
    white-space: nowrap;
    line-height: 1.3;
    padding: 0.4rem;
}
