<h1 mat-dialog-title>{{state}} Variable</h1>
<div mat-dialog-content>
    <form [formGroup]="form" autocomplete="off">
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Name" [formControl]="form.get('name')"
                           autocomplete="off">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Value" [formControl]="form.get('value')"
                           autocomplete="off">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button class="pull-right" mat-button (click)="onNoClick()">Cancel</button>
    <button class="pull-right" mat-button (click)="submit()" color="primary" cdkFocusInitial>Submit</button>
</div>
