<div *ngIf="!editing && !adding" class="variable-line-item">
    <div fxFlex="30" class="mat-cell">{{variable.name}}</div>
    <div fxFlex="40" class="mat-cell">{{variable.value}}</div>
    <div fxFlex="30" class="mat-cell">
        <button class="pull-right mat-error mat-button hover-action" (click)="deleteVarConfirm.show()"
                title="Delete">
            <span>Delete</span>
        </button>
        <confirmation #deleteVarConfirm [title]="'Delete variable'"
                      (onAccept)="deleteVariable()">
        </confirmation>
        <button class="pull-right mat-button hover-action" (click)="editing = true;" title="Edit">
            <span>Edit</span>
        </button>
    </div>
</div>

<div *ngIf="editing || adding">

    <form [formGroup]="form" autocomplete="off">
        <div fxLayout="row wrap">

            <div fxFlex="30" class="p-r-20">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="" [formControl]="form.get('name')"
                           autocomplete="off">
                </mat-form-field>
                <small *ngIf="form.get('name').hasError('required') && form.get('name').touched"
                    class="text-danger support-text">Variable name required
                </small>
                <small *ngIf="form.get('name').hasError('pattern') && form.get('name').touched"
                    class="text-danger support-text">Only alphanumeric, "-" and "_" characters allowed
                </small>
            </div>

            <div fxFlex="40">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="" [formControl]="form.get('value')"
                           autocomplete="off">
                </mat-form-field>
                <small *ngIf="form.get('value').hasError('required') && form.get('value').touched"
                    class="text-danger support-text">Variable value required
                </small>
            </div>

            <div fxFlex="30" class="mat-cell">
                <button class="mat-button pull-right m-t-10" [disabled]="form.invalid" (click)="submit()">
                    <span>Submit</span>
                </button>
            </div>

        </div>
    </form>
</div>
