<div fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card class="single-stat" fxFlex="15" fxFlex.xl="10" fxFlex.lg="15" fxFlex.sm="25" fxFlex.md="25" fxFlex.xs="40"
              *ngFor="let stat of singleStats">
        <mat-card-content class="hover-row">

            <button class="pull-right action-button" mat-icon-button [matMenuTriggerFor]="itemMenu" *ngIf="canEdit">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #itemMenu="matMenu">
                <button mat-menu-item class="pull-right" color="warn" (click)="deleteConfirm.show()"
                        *ngIf="isAdmin" title="Delete">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
                <confirmation #deleteConfirm [title]="'Delete'"
                              [content]="'Are you sure you wish to permanently delete this item?'"
                              (onAccept)="deleteSingleStat(stat)">
                </confirmation>
                <button mat-menu-item class="pull-right" color="accent" (click)="editSingleStat(stat)" title="Edit">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item class="pull-right" color="accent" (click)="copySingleStat(stat)"
                        *ngIf="isAdmin" title="Copy">
                    <mat-icon>file_copy</mat-icon>
                    <span>Copy</span>
                </button>
            </mat-menu>

            <h3 class="stat-header">{{stat.title}}</h3>
            <h1 [style.color]="dataSets[stat.id]?.color" class="stat-value">{{dataSets[stat.id]?.valueString}}</h1>

        </mat-card-content>
    </mat-card>
</div>
