<div cdkDropList (cdkDropListDropped)="reorderChart($event)" (pan)="sliderManager($event)">
    <ng-container *ngFor="let chart of charts">
        <div fxLayout="row" class="chart-row hover-row" cdkDrag [cdkDragData]="chart"
             cdkDragLockAxis="y" cdkDragBoundary=".rowgroup" [cdkDragDisabled]="!canEdit">
            <button mat-button class="drag-handle action-button" cdkDragHandle title="Reposition chart" *ngIf="canEdit">
                <mat-icon>swap_vert</mat-icon>
            </button>
            <app-chart [chart]="chart" [variables]="variables" [dataSources]="dataSources" [dateViews]="dateViews"
                       [sliderCoordinates]="sliderCoordinates" (edited)="chartEdited($event)"
                       (deleted)="chartDeleted($event)"></app-chart>
        </div>
    </ng-container>
</div>
