<button class="pull-right action-button" mat-icon-button [matMenuTriggerFor]="itemMenu" *ngIf="canEdit">
    <mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #itemMenu="matMenu">
    <button mat-menu-item class="pull-right" color="warn" (click)="deleteConfirm.show()"
            title="Delete">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
    <confirmation #deleteConfirm [title]="'Delete chart'" (onAccept)="deleteChart()"
                  [content]="'Are you sure you wish to permanently delete this chart?'">
    </confirmation>
    <button mat-menu-item class="pull-right" color="accent" (click)="editChart()" title="Edit">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
    </button>
    <button mat-menu-item class="pull-right" color="accent" (click)="copyChart()"
            title="Copy">
        <mat-icon>file_copy</mat-icon>
        <span>Copy</span>
    </button>
</mat-menu>
<button mat-icon-button class="pull-right download-csv action-button" (click)="downloadCSV()"
        title="Download CSV">
    <mat-icon>cloud_download</mat-icon>
</button>
<div [class]="'d3-chart chart-container-' + chart.id"></div>
