<div cdkDropList (cdkDropListDropped)="reorderChart($event)">
    <div *ngFor="let chart of charts">
        <div fxLayout="row" cdkDrag [cdkDragData]="chart" cdkDragLockAxis="y">
            <div fxFlex="5">
                <button mat-button class="h-100" cdkDragHandle title="Reposition chart">
                    <mat-icon>swap_vert</mat-icon>
                </button>
            </div>
            <div fxFlex="5">
                <app-chart [chart]="chart" [view]="view" [dateRange]="dateRange" [variables]="variables"
                    (edited)="chartEdited($event)" (deleted)="chartDeleted($event)"></app-chart>
            </div>
        </div>
    </div>
</div>
