<h1 mat-dialog-title>{{state}} Chart</h1>
<div mat-dialog-content>
    <form [formGroup]="form" autocomplete="off">
        <div fxLayout="row wrap">

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Title" [formControl]="form.get('title')"
                           autocomplete="off">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Unit" [formControl]="form.get('unit')">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Colours" [formControl]="form.get('color')" autocomplete="off"
                           spellcheck="false">
                    <span matSuffix [matMenuTriggerFor]="colorPicker" aria-label="color-picker" class="picker-button">
                        <mat-icon>color_lens</mat-icon>
                    </span>
                </mat-form-field>
                <mat-menu #colorPicker="matMenu" xPosition="before" class="color-picker-container">
                    <color-compact (onChangeComplete)="updateColors($event)"></color-compact>
                </mat-menu>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <mat-label>Group By</mat-label>
                    <mat-select [formControl]="form.get('group_by')">
                        <mat-option *ngFor="let group of groupBy" [value]="group">
                            {{group}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <mat-label>Type</mat-label>
                    <mat-select [formControl]="form.get('type')">
                        <mat-option *ngFor="let type of chartTypes" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <mat-label>Query</mat-label>
                    <textarea matInput [formControl]="form.get('query')"
                              cdkTextareaAutosize></textarea>
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                    <mat-label>Data Source</mat-label>
                    <mat-select [formControl]="form.get('data_source_id')">
                        <mat-option *ngFor="let source of dataSources" [value]="source.id">
                            {{source.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button class="pull-right" mat-button (click)="onNoClick()">Cancel</button>
    <button class="pull-right" mat-button [disabled]="!formValid()" (click)="submit()"
            color="primary" cdkFocusInitial>Submit
    </button>
</div>
