<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>
                    <a [routerLink]="['/dashboards', dashboardId]">{{dashboard?.title}}</a>
                </mat-card-title>
                <mat-card-subtitle>{{dashboard?.description}}</mat-card-subtitle>
            </mat-card-content>

            <mat-card-content>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <h4 style="width: 100%;">Variables</h4>

                    <div>
                        <div fxLayout="row" class="p-l-10">
                            <div fxFlex="30" class="mat-header-cell">id</div>
                            <div fxFlex="40" class="mat-header-cell">Value</div>
                            <div fxFlex="30" class="mat-header-cell"></div>
                        </div>

                        <div fxLayout="row" class="mat-row p-l-10"
                             *ngFor="let variable of dashboard?.variables; let ix = index">
                            <app-variable fxFlex="100" [variable]="variable" [index]="ix"
                                          (added)="variableAdded($event)" (edited)="variableEdited($event)"
                                          (deleted)="variableDeleted($event)"></app-variable>
                        </div>

                        <button mat-stroked-button color="primary" (click)="addVariable()">Add Variable</button>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
