<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex="33.33">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <div class="stats">
                    <h3 class="m-0">Missol Philippi</h3>
                    <div class="d-flex flex-row no-block">
                        <div class="p-10 p-l-0 b-r">
                            <div class="font-light">Growth</div>
                            <b>80.40%</b>
                        </div>
                        <div class="p-10 b-r">
                            <div class="font-light">Montly</div>
                            <b>20.40%</b>
                        </div>
                        <div class="p-10">
                            <div class="font-light">Daily</div>
                            <b>5.40%</b>
                        </div>
                    </div>
                </div>
                <div class="sitea"></div>

            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex="33.33">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <!-- column -->
                <div class="stats">
                    <h3 class="m-0">Netvox Philippi</h3>
                    <div class="d-flex flex-row no-block">
                        <div class="p-10 p-l-0 b-r">
                            <div class="font-light">Growth</div>
                            <b>80.40%</b>
                        </div>
                        <div class="p-10 b-r">
                            <div class="font-light">Montly</div>
                            <b>20.40%</b>
                        </div>
                        <div class="p-10">
                            <div class="font-light">Daily</div>
                            <b>5.40%</b>
                        </div>
                    </div>
                </div>
                <div class="siteb"></div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Missol Philippi</mat-card-title>
                <mat-card-subtitle>Temperature, last 30 days</mat-card-subtitle>

                <div class="linearea" style="height:360px;">
                    <x-chartist class="" [data]="lineChart1.data" [type]="lineChart1.type" [options]="lineChart1.options" [responsiveOptions]="lineChart1.responsiveOptions"
                        [events]="lineChart1.events"> </x-chartist>
                </div>
                <ul class="list-inline text-center p-t-10">
                    <li>
                        <h6 class="text-muted text-success m-0">
                            <i class="fa fa-circle font-10 m-r-10 "></i>Temperature</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-info  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Rain</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>

</div>

<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">386</h3>
                        <h6 class="text-muted m-0">New Clients</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>local_mall</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">2408</h3>
                        <h6 class="text-muted m-0">All Projects</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">352</h3>
                        <h6 class="text-muted m-0">New Items</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex="25">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">159</h3>
                        <h6 class="text-muted m-0">New Invoices</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- Chart boxes -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex="33.33">
        <mat-card class="bg-info">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Purchase</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex="33.33">
        <mat-card class="bg-purple">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Expense</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex="33.33">
        <mat-card class="bg-success">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Income</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex="75">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Sales Overview</mat-card-title>
                <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle>

                <div class="barchrt" style="height:360px;">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                        [events]="barChart1.events"> </x-chartist>
                </div>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-muted text-success m-0">
                            <i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-info  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Pixel</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Column-->
    <div fxFlex="25">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Our Visitors</mat-card-title>
                <mat-card-subtitle>Different Devices Used to Visit</mat-card-subtitle>
                <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                        [events]="donuteChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-muted text-success m-0">
                            <i class="fa fa-circle font-10 m-r-10 "></i>Mobile</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-info  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Desktop</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-purple  m-0">
                            <i class="fa fa-circle font-10 m-r-10"></i>Tablet</h6>
                    </li>
                </ul>
            </mat-card-content>

        </mat-card>
    </div>
    <!-- Column-->
</div>
