<div fxLayout="row wrap">
    <div fxFlex="20%" fxFlex.md="25%" fxLayoutGap.md="5px" fxFlex.sm="50%" fxFlex.xs="100%"
         fxLayoutAlign="space-between stretch" class="hover-row"
         *ngFor="let collection of collections; let i = index">

        <mat-card>
            <img *ngIf="collection.image" mat-card-image [src]="collection.image"
                 alt="Collection">
            <mat-card-content *ngIf="!collection.image" class="placeholder"
                              [style.background]="backgrounds[i % backgrounds.length]">
                <mat-icon>assessment</mat-icon>
            </mat-card-content>

            <div class="mat-card-header card-list-header" fxLayout="column">
                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-card-title fxFlex="grow" [routerLink]="['/collections', collection.id]">
                        {{collection.title}}
                    </mat-card-title>

                    <button fxFlex="initial" class="action-button" mat-icon-button [matMenuTriggerFor]="itemMenu"
                            *ngIf="canEdit">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #itemMenu="matMenu">
                        <button mat-menu-item class="pull-right" color="warn" (click)="deleteConfirm.show()"
                                title="Delete">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <confirmation #deleteConfirm [title]="'Delete collection'"
                                      [content]="'Are you sure you wish to permanently delete this collection?'"
                                      (onAccept)="deleteCollection(collection)">
                        </confirmation>
                        <button mat-menu-item class="pull-right" color="accent" (click)="editCollection(collection)"
                                title="Edit">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item class="pull-right" color="accent" (click)="copyCollection(collection)"
                                title="Copy">
                            <mat-icon>file_copy</mat-icon>
                            <span>Copy</span>
                        </button>
                    </mat-menu>
                </div>

                <mat-card-subtitle fxFlex="100%">{{collection.description}}</mat-card-subtitle>
            </div>

        </mat-card>
    </div>
</div>
