<div class="m-l-20 m-r-20">
    <div fxFlex="100%" fxLayout="row wrap">
        <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
            <h3 class="page-title text-themecolor m-0">{{collection?.title}}</h3>
            <p>{{collection?.description}}</p>
        </div>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex="100">
        <app-dashboard-list [dashboards]="collection?.dashboards" (edited)="dashboardEdited($event)"
                    (deleted)="dashboardDeleted($event)" (reordered)="dashboardReordered($event)"></app-dashboard-list>
    </div>
</div>
<app-fab-speed-dial (buttonClick)="fabClick($event)" [fabButtons]="fabButtons"></app-fab-speed-dial>
