<div class="logo text-center">
    <a [routerLink]="['']">
        <img src="assets/images/logo-big.png" alt="DashTweak">
    </a>
</div>
<div class="text-center login-register">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <h4 class="m-t-0">Log in</h4>
                    </div>

                    <div fxLayout="row wrap">
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Email" name="email" [formControl]="loginForm.get('email')">
                            </mat-form-field>
                            <small *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched"
                                class="text-danger support-text">Email is required.</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Password" name="password"
                                       [formControl]="loginForm.get('password')">
                            </mat-form-field>
                            <small *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"
                                class="text-danger support-text">Password is required.</small>
                        </div>
                        <!-- col half-->
                        <div fxFlex="50" class="font-14">
                            <mat-checkbox color="warn">Remember me</mat-checkbox>
                        </div>
                        <!-- col half-->
                        <div fxFlex="50" class="font-14">
                            <a [routerLink]="['/authentication/forgot']" class="link">Forgot password?</a>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit"
                                [disabled]="!loginForm.valid">Log in</button>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center font-14">
                            <span>Don't have an account?
                                <a [routerLink]="['/authentication/register']" class="text-info link">Register</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
