<div class="m-l-20 m-r-20" *ngIf="mobileQuery.matches">
    <h3 class="page-title">
        <a *ngIf="parent">{{parent.title}}</a>
        &gt; {{dashboard.title}}
    </h3>
</div>
<div fxLayout="row wrap" id="dashboard">
    <div fxFlex="100">
        <mat-card *ngIf="dashboard">

            <mat-card-content>

                <button mat-icon-button class="pull-right edit-button" *ngIf="canEdit"
                        title="Edit">
                    <mat-icon>edit</mat-icon>
                </button>

                <mat-card-subtitle>{{dashboard.description}}</mat-card-subtitle>

                <div fxLayout="row wrap" fxLayoutAlign="center">
                    <mat-card class="single-stat" fxFlex="15" fxFlex.xl="10" fxFlex.lg="15" fxFlex.sm="25"
                              fxFlex.md="25" fxFlex.xs="40">
                        <mat-card-content>

                            <button class="pull-right" mat-icon-button *ngIf="canEdit">
                                <mat-icon>more_horiz</mat-icon>
                            </button>

                            <h3 class="stat-header">...</h3>
                            <h1 style="color: grey" class="stat-value">...</h1>

                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="d3-chart chart-container-1 chart-container-preview">
                    <div fxLayout="row wrap" fxLayoutAlign="center" class="h-100">
                        <mat-card fxFlex="100" class="h-100">
                            <mat-card-content class="h-100">
                                <h3 class="stat-header">...</h3>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

            </mat-card-content>

        </mat-card>
    </div>
</div>
