<div class='has-slider'>
    <div [ngClass]="slider.classList" [style.transform]="'translateX('+slider.transform +'%)'"
         class='slider' id='slider' (pan)="sliderManager($event)">
        <div class='slider-panel'>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="m-l-20 m-r-20">
                    <div class="pull-right" *ngIf="dashboard && dashboard.collection_id==15"><img
                        src="assets/images/water-hunters.png"/></div>
                    <h3 class="page-title">
                        <a *ngIf="parent" [routerLink]="[parent.url]">{{parent.title}}</a>
                        &gt; {{dashboard?.title}}
                    </h3>
                </div>
            </div>

            <!-- route to dashboard tabs -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
