<mat-card>
    <mat-card-content>
        <div fxLayout fxLayoutAlign="space-between">
            <form [formGroup]="form" (ngSubmit)="getUsers(form.value)">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Search" [formControl]="form.get('search')">
                    <button mat-button matSuffix mat-icon-button aria-label="Search" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>

        <div class="responsive-table">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User</th>
                    <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.surname}}</td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Access Role</th>
                    <td mat-cell *matCellDef="let element">
                    <mat-select [(value)]="usersAccess[element.id] && usersAccess[element.id].role"
                        (valueChange)="updateUserAccess($event, element)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                      </mat-select>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
