.full-height {
  height: calc(100vh - 190px);
}

mat-card.full-height mat-card-content {
  height: 100%;
}

.list-icon {
    float: left;
    margin-top: -4px;
    padding: 0 30px 40px 40px;
}

.picker-button {
    cursor: pointer;
}

mat-card.single-stat {
    background-color: #fafafa !important;
    border: 1px solid #c0c0c0;
    border-radius: 6px !important;
    mat-card-content {
      padding: 5px 15px 15px;
    }
}

.html-content {
    font-family: monospace;
    background: whitesmoke;
    padding: 0 !important;
}

.mat-card-content.dashboard-new {
    padding: 0;
}

mat-card.full-height {
    overflow: hidden;
}

.single-stat .action-button {
    position: absolute;
    top: -3px;
    right: 5px;
}

.image-drop-zone {
    border: dotted 2px #dadada;
    background-color: aliceblue !important;
    min-height: 200px;
    line-height: 200px;
    height: 100%;
    cursor: pointer;
}

.nv-file-over {
    border: dotted 2px cadetblue;
}

.image-preview {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
}

.mat-card.card-list {
    width: 100%;
}

.mat-card-title {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 19px !important;
    word-wrap: break-word;
    cursor: pointer;
}

.image-container {
    cursor: pointer;
    border-radius: 4px;
}

img.mat-card-image {
    width: 100%;
    height: auto;
    margin-top: 0 !important;
    background-position: center;
    background-size: cover;
}

.mat-card-content.placeholder {
    width: 100%;
    height: 0;
    padding-top: 50%;
    position: relative;
    padding-bottom: 13%;
    margin-bottom: 6px;
    border-radius: 4px 4px 0 0;
}

.placeholder .mat-icon {
    font-size: 9rem;
    color: white;
    line-height: 9rem;
    width: auto;
    height: 9rem;
    margin-top: -50%;
}

.action-button {
    position: absolute;
    right: 0;
    margin-top: -7px;
}

.action-button.drag-button {
    left: -5px;
}
