<div cdkDropList (cdkDropListDropped)="reorderDashboard($event)">
    <ng-container *ngFor="let dashboard of dashboards">
        <div fxLayout="row" cdkDrag [cdkDragData]="dashboard" [cdkDragDisabled]="!canEdit" cdkDragLockAxis="y"
             cdkDragBoundary=".rowgroup">
            <div fxFlex="100%" class="hover-row">
                <mat-card>
                    <mat-card-content>
                        <button class="pull-right action-button" mat-icon-button [matMenuTriggerFor]="itemMenu"
                                *ngIf="canEdit">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #itemMenu="matMenu">
                            <button mat-menu-item class="pull-right" color="warn" (click)="deleteConfirm.show()"
                                    title="Delete">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                            <confirmation #deleteConfirm [title]="'Delete dashboard'"
                                          [content]="'Are you sure you wish to permanently delete this dashboard?'"
                                          (onAccept)="deleteDashboard(dashboard)">
                            </confirmation>
                            <button mat-menu-item class="pull-right" color="accent" (click)="editDashboard(dashboard)"
                                    title="Edit">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item class="pull-right" color="accent" (click)="copyDashboard(dashboard)"
                                    title="Copy">
                                <mat-icon>file_copy</mat-icon>
                                <span>Copy</span>
                            </button>
                        </mat-menu>

                        <button class="pull-right action-button" mat-icon-button cdkDragHandle
                                title="Reposition dashboard" *ngIf="canEdit">
                            <mat-icon>swap_vert</mat-icon>
                        </button>

                        <mat-icon *ngIf="!dashboard.image" class="list-icon">insert_chart</mat-icon>
                        <div *ngIf="dashboard.image" class="list-image-content">
                            <img class="list-image" [src]="dashboard.image"/>
                        </div>
                        <mat-card-title>
                            <a class="link-title" [routerLink]="['/dashboards', dashboard.id]">
                                {{dashboard.title}}
                            </a>
                        </mat-card-title>
                        <mat-card-subtitle>{{dashboard.description}}</mat-card-subtitle>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>
</div>
