<h1 mat-dialog-title>{{state}} Dashboard</h1>
<div mat-dialog-content>
    <div [formGroup]="form" autocomplete="off">
        <div fxLayout="row wrap">

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Title" [formControl]="form.get('title')"
                           autocomplete="off">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Description" [formControl]="form.get('description')"
                           autocomplete="off">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <mat-select [formControl]="form.get('type')" placeholder="Dashboard Type">
                        <mat-option value="old">Charts & Single Stats</mat-option>
                        <mat-option value="new">HTML Content</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"
                 *ngIf="authService.hasRole('Administrator') && !dashboard.collection_id">
                <mat-form-field>
                    <mat-select formControlName="users" [formControl]="form.get('users')" placeholder="Users" [multiple]="true" #userSelect>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="userNameFilter" [searching]="searching"
                                                   placeholderLabel="Search users" noEntriesFoundLabel="No users found">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                            {{user.fullname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </div>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button class="pull-right" mat-button (click)="onNoClick()">Cancel</button>
    <button class="pull-right" mat-button [disabled]="!formValid()"
            (click)="submit()" color="primary" cdkFocusInitial>Submit
    </button>
</div>
