<h1 mat-dialog-title>{{state}} Dashboard</h1>
<div mat-dialog-content>
    <form [formGroup]="form" autocomplete="off">
        <div fxLayout="row wrap">

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Title" [formControl]="form.get('title')"
                           autocomplete="off">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Description" [formControl]="form.get('description')"
                           autocomplete="off">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                    <mat-select [formControl]="form.get('users')" placeholder="Users" [multiple]="true" #userSelect>
                        <ngx-mat-select-search [formControl]="usersFilterCtrl"></ngx-mat-select-search>
                        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                            {{user.fullname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="dashboard.id">
                <h4 style="width: 100%;">Variables</h4>

                <div>
                    <div fxLayout="row">
                        <div fxFlex="30" class="mat-header-cell">id</div>
                        <div fxFlex="40" class="mat-header-cell">Value</div>
                        <div fxFlex="30" class="mat-header-cell"></div>
                    </div>

                    <div fxLayout="row" class="mat-row" *ngFor="let variable of dashboard?.variables">
                        <app-variable fxFlex="100" [variable]="variable" (added)="variableAdded($event)"
                                      (edited)="variableEdited($event)"
                                      (deleted)="variableDeleted($event)"></app-variable>
                    </div>

                    <button mat-stroked-button color="primary" (click)="addVariable()">Add Variable</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button class="pull-right" mat-button (click)="onNoClick()">Cancel</button>
    <button class="pull-right" mat-button (click)="submit()" color="primary" cdkFocusInitial>Submit</button>
</div>
