.full-height {
  height: calc(100vh - 190px);
}

mat-card.full-height mat-card-content {
  height: 100%;
}

.list-icon {
    float: left;
    margin-top: -4px;
    padding: 0 30px 40px 40px;
}

.picker-button {
    cursor: pointer;
}

mat-card.single-stat {
    background-color: #fafafa !important;
    border: 1px solid #c0c0c0;
    border-radius: 6px !important;
    mat-card-content {
      padding: 5px 15px 15px;
    }
}

.html-content {
    font-family: monospace;
    background: whitesmoke;
    padding: 0 !important;
}

iframe {
    width: 100%;
    height: 100%;
}

.mat-card-content.dashboard-new {
    padding: 0;
}

mat-card.full-height {
    overflow: hidden;
}

.single-stat .action-button {
    position: absolute;
    top: -3px;
    right: 5px;
}

.image-drop-zone {
    border: dotted 2px #dadada;
    background-color: aliceblue !important;
    min-height: 200px;
    line-height: 200px;
    height: 100%;
    cursor: pointer;
}

.nv-file-over {
    border: dotted 2px cadetblue;
}

.image-preview {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
}

/* TODO positioning image in rows */
.list-image-content {
    padding: 35px;
    float: left;
}

img.list-image {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: auto;
    border-radius: 3px;
}
