.full-height {
  height: calc(100vh - 190px);
}

mat-card.full-height mat-card-content {
  height: 100%;
}

.list-icon {
    float: left;
    margin-top: -0.2em;
    padding-bottom: 2em;
}

.picker-button {
    cursor: pointer;
}

mat-card.single-stat {
    background-color: #fafafa !important;
    border: 1px solid #c0c0c0;
    border-radius: 6px !important;
    mat-card-content {
      padding: 5px 15px 15px;
    }
}

.html-content {
    font-family: monospace;
    background: whitesmoke;
    padding: 0 !important;
}

iframe {
    width: 100%;
    height: 100%;
}

.mat-card-content.dashboard-new {
    padding: 0 0 60px;
}

mat-card.full-height {
    overflow: hidden;
}

.single-stat .action-button {
    position: absolute;
    top: -3px;
    right: 5px;
}
