<h1 mat-dialog-title>{{state}} Dashboard</h1>
<div mat-dialog-content>
    <div [formGroup]="form" autocomplete="off">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Title" [formControl]="form.get('title')"
                           autocomplete="off">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Description" [formControl]="form.get('description')"
                           autocomplete="off">
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="48" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field style="width: 100%">
                    <mat-select [formControl]="form.get('type')" placeholder="Dashboard Type">
                        <mat-option value="old">Charts & Single Stats</mat-option>
                        <mat-option value="new">HTML Content</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex.gt-sm="48" fxFlex.gt-xs="100" fxFlex="100">
                <div fxFlex class="m-t-15">
                    <mat-checkbox [formControl]="form.get('date_hidden')">Hide dashboard date selector
                    </mat-checkbox>
                </div>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <div *ngIf="!previewImage" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (onFileDrop)="dropped($event)" (fileOver)="fileOverBase($event)" (click)="fileInput.click()"
                     [uploader]="uploader"
                     class="py-5 mb-3 text-center font-medium-5 text-uppercase grey image-drop-zone">
                    Image Upload
                </div>
                <img [src]="previewImage" (click)="fileInput.click()" *ngIf="previewImage"
                     class="py-5 mb-3 text-center font-medium-5 text-uppercase grey image-drop-zone image-preview">
                <input #fileInput type="file" style="display:none;" ng2FileSelect [uploader]="uploader"
                       (change)="showPreviewImage(fileInput.files)" accept='image/*'/>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button class="pull-right" mat-button (click)="onNoClick()">Cancel</button>
    <button class="pull-right" mat-button [disabled]="!formValid()"
            (click)="submit()" color="primary" cdkFocusInitial>Submit
    </button>
</div>
