.piechart {
  height: 300px;
  width: 280px;
  margin: 0 auto;
}

button.active {
  background: #ddd;
}

g.grid g.tick line {
  stroke: #ddd;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.hover-line {
  stroke: darkgray;
  stroke-width: 2px;
}

