<div fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card *ngIf="dashboard">
            <mat-card-content>
                <a class="pull-right" title="Settings " mat-icon-button [routerLink]="['settings']">
                    <mat-icon>settings</mat-icon>
                </a>

                <mat-card-title>{{dashboard.title}}</mat-card-title>
                <mat-card-subtitle>{{dashboard.description}}</mat-card-subtitle>
            </mat-card-content>

            <mat-toolbar class="no-shadow">
                <mat-toolbar-row>
                    <div fxShow="false" fxShow.gt-xs>
                        <button mat-button (click)="updateView('hour')" [class.active]="dateView == 'hour'">Hour</button>
                        <button mat-button (click)="updateView('day')" [class.active]="dateView == 'day'">Day</button>
                        <button mat-button (click)="updateView('week')" [class.active]="dateView == 'week'">Week</button>
                        <button mat-button (click)="updateView('month')" [class.active]="dateView == 'month'">Month</button>
                    </div>
                    <div fxHide="false" fxHide.gt-xs>
                        <button mat-icon-button (click)="dateView = 'month'" [class.active]="dateView === 'month'">
                            <mat-icon>view_module</mat-icon>
                        </button>
                        <button mat-icon-button (click)="dateView = 'week'" [class.active]="dateView === 'week'">
                            <mat-icon>view_week</mat-icon>
                        </button>
                        <button mat-icon-button (click)="dateView = 'day'" [class.active]="dateView === 'day'">
                            <mat-icon>view_day</mat-icon>
                        </button>
                    </div>
                    <div fxFlex class="date-navigator">
                        <button mat-icon-button (click)="updateDateCounter(1)">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <span class="date-text">{{dateSelect | date : getDateFormat()}} - </span>
                        <span class="date-text"> {{endDate | date : getDateFormat()}}</span>
                        <button mat-icon-button (click)="updateDateCounter(-1)">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                    <span fxFlex fxHide="false" fxHide.gt-xs></span>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-card-content>

                <app-single-stat-list [dashboardId]="dashboardId" [addedSingleStat]="addedSingleStat" [view]="dateView"
                                      [dateRange]="dateRange" [variables]="dashboard.variables"
                                      [dataSources]="dataSources"></app-single-stat-list>
            </mat-card-content>

            <mat-card-content>

                <app-chart-list appMouseListener [dashboardId]="dashboardId" [addedChart]="addedChart" [view]="dateView"
                                [dateRange]="dateRange" [startDate]="dateSelect" [endDate]="endDate" [variables]="dashboard.variables"
                                [dataSources]="dataSources"></app-chart-list>
            </mat-card-content>

        </mat-card>
    </div>
</div>
<app-fab-speed-dial (buttonClick)="fabClick($event)" [fabButtons]="fabButtons"></app-fab-speed-dial>
