:host ::ng-deep svg {
  margin-top: -0.5em;
}

.full-height {
  height: calc(100vh - 190px);
}

mat-card.full-height mat-card-content {
  height: 100%;
}

g.grid g.tick line {
  stroke: #ddd;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.hover-line {
  stroke: darkgray;
  stroke-width: 2px;
}

.variable-line-item {
    line-height: 2.5em;
}

.list-icon {
    float: left;
    margin-top: -0.2em;
    padding-bottom: 2em;
}

.stat-header {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stat-value {
    width: 100%;
    text-align: center;
}

.drag-handle {
    position: absolute;
    margin-top: 2em;
    margin-left: -0.5em;
    min-width: 40px !important;
    padding-left: 5px;
    padding-right: 5px
}

div.d3-chart {
    margin-top: 40px;
}

.chart-row .drag-handle, .chart-row .chart-actions {
    display: none;
}

.chart-row:hover .drag-handle {
    display: block !important;
}

.picker-button {
    cursor: pointer;
}

h3.stat-header {
  font-size: 15px;
  white-space: nowrap;
}
h1.stat-value {
  font-size: 30px;
  white-space: nowrap;
}

mat-card.single-stat {
    background-color: #fafafa !important;
    border: 1px solid #c0c0c0;
    border-radius: 6px !important;
    mat-card-content {
      padding: 5px 15px 15px;
    }
}

button.edit-button {
    margin-top: -1em;
}
