<div class="m-l-20 m-r-20" *ngIf="mobileQuery.matches">
    <div class="pull-right" *ngIf="dashboard && dashboard.collection_id==15"><img src="assets/images/water-hunters.png"/></div>
    <h3 class="page-title">
        <a *ngIf="parent" [routerLink]="[parent.url]">{{parent.title}}</a>
        &gt; {{dashboard?.title}}
    </h3>
</div>

<div fxLayout="row wrap" class="clear" id="dashboard">
    <div fxFlex="100" class="p-b-20">
        <mat-card *ngIf="dashboard">

            <app-dashboard-date-selector [mobileQueryMatches]="mobileQuery.matches" [dateViews]="dateViews">
            </app-dashboard-date-selector>

            <mat-card-content>

                <button mat-icon-button class="pull-right edit-button" (click)="editDashboard()" *ngIf="canEdit"
                        title="Edit">
                    <mat-icon>edit</mat-icon>
                </button>

                <mat-card-subtitle>{{dashboard.description}}</mat-card-subtitle>

                <app-single-stat-list [dashboardId]="dashboardId" [addedSingleStat]="addedSingleStat"
                                      [variables]="dashboard.variables" [dataSources]="dataSources">
                </app-single-stat-list>

                <app-script-list [dashboardId]="dashboardId" [addedScript]="addedScript"></app-script-list>

                <app-chart-list appMouseListener appTouchListener [dateViews]="dateViews"
                                [dashboardId]="dashboardId" [addedChart]="addedChart" [variables]="dashboard.variables"
                                [dataSources]="dataSources"></app-chart-list>
            </mat-card-content>

        </mat-card>
    </div>
</div>
<app-fab-speed-dial *ngIf="canEdit" (buttonClick)="fabClick($event)" [fabButtons]="fabButtons"></app-fab-speed-dial>
