<div cdkDropList (cdkDropListDropped)="reorderDashboard($event)">
<ng-container *ngFor="let dashboard of dashboards">
    <div fxLayout="row"
    cdkDrag [cdkDragData]="dashboard" cdkDragLockAxis="y" cdkDragBoundary=".rowgroup">
        <div fxFlex="100%">
            <mat-card fxLayout="row">
                <div fxFlex="5" *ngIf="collectionId">
                    <button mat-button class="h-100" cdkDragHandle title="Reposition dashboard">
                        <mat-icon>swap_vert</mat-icon>
                    </button>
                </div>
                <mat-card-content fxFlex>
                    <button class="pull-right" mat-icon-button [matMenuTriggerFor]="itemMenu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #itemMenu="matMenu">
                        <button mat-menu-item class="pull-right" color="warn" (click)="deleteConfirm.show()"
                                title="Delete">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <confirmation #deleteConfirm [title]="'Delete dashboard'"
                                      [content]="'Are you sure you wish to permanently delete this dashboard?'"
                                      (onAccept)="deleteDashboard(dashboard)">
                        </confirmation>
                        <button mat-menu-item class="pull-right" color="accent" (click)="editDashboard(dashboard)" title="Edit">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item class="pull-right" color="accent" (click)="copyDashboard(dashboard)" title="Copy">
                            <mat-icon>file_copy</mat-icon>
                            <span>Copy</span>
                        </button>
                    </mat-menu>

                    <mat-card-actions></mat-card-actions>
                    <mat-icon class="list-icon">event_note</mat-icon>
                    <mat-card-title><a [routerLink]="['/dashboards', dashboard.id]">{{dashboard.title}}</a></mat-card-title>
                    <mat-card-subtitle>{{dashboard.description}}</mat-card-subtitle>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-container>
</div>
