/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

@font-face {
    font-family: Dosis;
    src: url("https://fonts.gstatic.com/s/dosis/v8/HhyXU5sn9vOmLzHTLuCFMIs.woff2") format("woff");
}

/* display table actions on hover */
.mat-row .hover-action, row .hover-action {
    opacity: 0;
}

.mat-row:hover .hover-action, row:hover .hover-action {
    opacity: 100;
}

.white-space-pre {
    white-space: pre !important;
}

.h-100 {
    height: 100% !important;
}

a.link-title {
    color: inherit !important;
}

.color-compact div.raised-bg {
    box-shadow: none !important;
}

.legend-label, .legend-value {
    cursor: pointer;
}
