/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

@font-face {
    font-family: Dosis;
    src: url("https://fonts.gstatic.com/s/dosis/v8/HhyXU5sn9vOmLzHTLuCFMIs.woff2") format("woff");
}

/* display table actions on hover */
.mat-row .hover-action, row .hover-action {
    opacity: 0;
}

.mat-row:hover .hover-action, row:hover .hover-action {
    opacity: 100;
}

.white-space-pre {
    white-space: pre !important;
}

.h-100 {
    height: 100% !important;
}

a.link-title {
    color: inherit !important;
}

.color-compact div.raised-bg {
    box-shadow: none !important;
}

.legend-label, .legend-value {
    cursor: pointer;
}

/* apply styling inside expansion panel for toolbar */
mat-expansion-panel.mat-toolbar .mat-expansion-panel-body {
    padding: initial;
}

@media only screen and (max-width: 768px) {
    .mat-toolbar-row {
        height: 56px !important;
        padding: 0 0 0 8px !important;
    }

    .mat-toolbar-row .mat-button, .mat-toolbar input {
        font-size: 12px !important;
        line-height: 30px;
        padding-bottom: 1px;
        padding-top: 1px;
    }
}

@media only screen and (max-width: 599px) {
    mat-expansion-panel.mat-toolbar .mat-expansion-panel-body {
        flex-direction: column !important;
    }
}


/* global style action buttons on hover */
.hover-row .action-button {
    color: rgba(0, 0, 0, 0) !important;
}

.hover-row:hover .action-button {
    color: initial !important;
}
