<ng-container *ngFor="let script of scripts; trackBy:trackById">
    <div fxLayout="row" class="chart-row">
        <button class="pull-right" mat-icon-button [matMenuTriggerFor]="itemMenu" *ngIf="canEdit">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #itemMenu="matMenu">
            <button mat-menu-item class="pull-right" color="warn" (click)="deleteConfirm.show()"
                    title="Delete">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
            <confirmation #deleteConfirm [title]="'Delete'"
                          [content]="'Are you sure you wish to permanently delete this item?'"
                          (onAccept)="deleteScript(script)">
            </confirmation>
            <button mat-menu-item class="pull-right" color="accent" (click)="editScript(script)" title="Edit">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </mat-menu>

        <h3 class="script-header">{{script.title}}</h3>
        <iframe class="b-0" style="width: 100%; height: 500px" scrolling="yes" allowfullscreen id="script-{{script.id}}" sandbox="allow-same-origin allow-scripts allow-downloads allow-popups allow-forms allow-popups-to-escape-sandbox allow-top-navigation-by-user-activation"
                [src]="getScriptURL(script.id)"></iframe>
    </div>
</ng-container>
