.image-drop-zone {
    border: dotted 2px #dadada;
    background-color: aliceblue !important;
    min-height: 150px;
    line-height: 150px;
    height: 100%;
    cursor: pointer;
}

.nv-file-over {
    border: dotted 2px cadetblue;
}

.image-container {
    cursor: pointer;
}

.image-preview {
    background-position: center;
    background-size: cover;
    height: auto !important;
}